<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ip</th>
      <th>Vulnerabilities</th>
    </tr>
  </thead>
  
  <tbody>
<% for host in hosts %>
    <tr>
      <td><%=h host.name %></td>
      <td><%=h host.ip %></td>
      <td><%=h host.vulnerabilities_count %></td>
      <td><%= link_to 'Show', host %></td>
    </tr>
<% end %>
  </tbody>
</table>
