<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Vulnerabilities</th>
    </tr>
  </thead>

  <tbody>
<% for plugin in plugins %>
    <tr>
      <td><%=h plugin.name %></td>
      <td><%=h plugin.summary %></td>
      <td><%=h plugin.vulnerabilities_count %></td>
      <td><%= link_to 'Show', plugin %></td>
    </tr>
<% end %>
  </tbody>
</table>
