<table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
  </tr>

<% for plugin in plugins %>
  <tr>
    <td><%=h plugin.name %></td>
    <td><%=h plugin.summary %></td>
    <td><%= link_to 'Show', plugin %></td>
  </tr>
<% end %>
</table>
