.section
  .header
    %h1=@plugin.name
    
  %dl
    %dt
      %div='Summary'
    %dd=@plugin.summary
    
    %dt
      %div='Status'
    %dd=@plugin.status
    
    %dt
      %div='Family'
    %dd=@plugin.family

    %dt
      %div='Risk'
    %dd=@plugin.risk
    
    %dt
      %div='Classification'
    %dd=@plugin.classification

    %dt
      %div='Description'
    %dd=@plugin.description.gsub("\n", "<br/>")
    
    %dt
      %div='Evaluation'
    %dd=@plugin.evaluation.gsub("\n", "<br/>")
  
    %dt
      %div='Remediation'
    %dd=@plugin.remediation.gsub("\n", "<br/>")

.section
  .header
    %h1='Severities'

  %dl
    - for location in Location.find(:all)
      %dt
        %div=location
      %dd=@plugin.severity(location)

.section
  .header
    %h1='Hosts'

  =render(:partial => 'hosts/list', :locals => { :hosts => @plugin.hosts })
