html, body {
  font-family: helvetica, sans-serif;
  background-color: #e0e0e0;
}

a {
  padding: 0.5em 1em 0.5em 1em;
}

div#header h1 {
  float: left;
  margin: 0.25em 0 0 0.5em;
  color: #ffffff;
  font-weight: normal;
  font-size: x-large;
}

div#nav {
  background-color: #8A0917;
}

div#nav ul {
  padding: 0.75em 0 0.25em 10em;
}

div#nav ul li {
  display: inline;
  font-family: arial;
  font-size: small;
  letter-spacing: 0.1em;
  margin: 0 0.25em 0 0.25em;
}

div#nav ul li.active a {
  background-color: #e0e0e0;
  font-weight: bold;
}

div#nav ul li.active a {
  color: #000000;
  text-decoration: none;
}

div#nav ul li a {
  color: #ffffff;
  text-decoration: underline;
}

div.flash {
  margin: 1em;
  padding: 0.5em;
  color: #333333;
  font-size: small;
  font-weight: bold;
}

div.flash#notice {
  background-color: #FEFDE6;
  border: 1px solid #FDF350;
}

div.flash#error {
  background-color: #F7D9D9;
  border: 1px solid #EA8F8F;
}

div#article {
  margin: 1em;
  background-color: #f9f9f9;
  border-right: 2px solid #999999;
  border-bottom: 2px solid #999999;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

div.section div.body {
  padding: 1em;
}

div.section div.header:first-child h1,
div.section div.header:first-child h2,
div.section div.header:first-child h3 {
  margin-top: 0;
}

div.section div.header h1,
div.section div.header h2,
div.section div.header h3 {
  margin: 1em 0 0.5em 0;
  font-size: large;
  font-weight: bold;
}

div.section div.header h1 ul li {
  display: inline;
  padding-left: 0;
}

div.section div.header h1 ul li:first-child:before {
  content: "";
}

div.section div.header h1 ul li:before {
  content: ":: ";
  color: #000000;
}

div.section:first-child div.header a {
  color: #000000;
}

div.section div.footer {
  margin-top: 1em;
}

div.section pre {
  font-family: 'lucida console', 'andale mono', monospace;
  font-size: x-small;
}

div.section table {
  width: 100%;
  border-collapse: collapse;
  font-size: small;
}

div.section table thead th {
  background-color: #e6e6e6;
  padding: 0.5em;
  font-weight: bold;
}

div.section table tfoot th {
  background-color: #e6e6e6;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
}

div.section table td {
  padding: 0.5em;
}

div.section table thead th:first-child,
div.section table tbody td:first-child {
  text-align: left;
}

div.section table thead th,
div.section table tbody td {
  text-align: center;
}

div.section dl dt {
  font-weight: bold;
  font-size: small;
  float: left;
  width: 9em;
  text-align: right;
  height: 2em;
  display: table;
}

div.section dl dt div {
	vertical-align: middle;
  display: table-cell;
  align: right;
}

div.section dl dd {
  margin: 0 0 0.5em 10em;
  background-color: #e6e6e6;
  padding: 0.5em;
  font-size: small;
  min-height: 1em;
}

input[type='text'],
textarea,
select {
  padding: 0.25em 0 0.25em 0;
  border: 1px solid #cccccc;
  width: 100%;
}

div.section dl dd ul {
  list-style-type: none;
}
