html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  background-color: #F0F0F0;
  height: 100%;
}

div#body {
  height: 100%;
}

div#header {
  padding: 0.5em 0.5em 0 1em;
  margin: 0;
  background-color: #8A0917;
}

div#header h1 {
  float: left;
  margin: 0;
  padding: 0;
  color: #F0F0F0;
  font-weight: normal;
}

div#header ul {
  text-align: right;
  margin: 1.5em 0 0 0;
  padding-bottom: 0.25em;
}

div#header ul li {
  display: inline;
  padding: 0.5em 1em 0.25em 1em;
}

div#header ul li.active {
  background-color: #B8AE9C;
  border: 1px solid #5F0917;
  border-bottom: 1px solid #B8AE9C;
}

div#header ul li.active a {
  color: #000000;
  font-weight: bold;
}

div#header ul li a {
  color: #F0F0F0;
  text-decoration: none;
}


div#subheader {
  background-color: #B8AE9C;
  width: auto;
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  border-top: 1px solid #5F0917;
  border-bottom: 1px solid #595241;
}

div#subheader h2 {
  margin: 0;
  padding: 0;
  font-size: medium;
}

div#subheader h2 a {
  color: #333333;
  text-decoration: none;
}

div#content {
  margin: 0;
  padding: 1em;
  width: auto;
}

div#content dl {
  margin: 0;
}

div#content table {
  width: 100%;
  padding: 0;
}

div#content table caption {
  display: none;
}

div#content table th:first-child, div#content table td:first-child {
  text-align: left;
}

div#content table th, div#content table td {
  text-align: center;
}

div#content dl dt {
  font-weight: bold;
  font-size: small;
  float: left;
  padding: 1em;
}

div#content dl dd {
  margin-left: 10em;
  margin-bottom: 1em;
  background-color: #f0f0f0;
  padding: 1em;
  font-size: small;
}

div#content dl dd pre {
  padding: 0;
  margin: 0;
}