html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lucida grande', arial, sans-serif;
  background-color: #e0e0e0;
  height: 100%;
}

div#body {
  height: 100%;
}

div#header {
  padding: 0.5em 0.5em 0 1em;
  margin: 0;
  background-color: #8A0917;
}

div#header h1 {
  float: left;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: normal;
  font-size: x-large;
}

div#header ul {
  margin: 0.25em 0 0 5em;
  padding-bottom: 0.5em;
}

div#header ul li {
  display: inline;
  padding: 0.5em 1em 1em 1em;
  font-family: arial;
  font-size: small;
  letter-spacing: 0.1em;
}

div#header ul li.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

div#header ul li.active a {
  color: #000000;
  text-decoration: none;
}

div#header ul li a {
  color: #ffffff;
  text-decoration: underline;
}

div#content {
  background-color: #ffffff;
  margin: 1em;
  padding: 1em;
  width: auto;
  border-right: 2px solid #aaaaaa;
  border-bottom: 2px solid #aaaaaa;
}

div#content h2 {
  margin: 0 0 1em 0;
  font-size: large;
}

div#content h3 {
  margin: 2em 0 1em 0;
  font-size: medium;
}

div#content pre {
  font-family: 'lucida console', 'andale mono', monospace;
  font-size: x-small;
}

div#content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0 1em 0;
  font-size: small;
}

div#content table thead th {
  background-color: #d0d0d0;
  padding: 0.25em;
}

div#content table td {
  padding: 0.5em;
}

div#content table thead th, 
div#content table tbody td {
  text-align: center;
}

div#content dl {
  margin: 0;
}

div#content dl dt {
  font-weight: bold;
  font-size: small;
  float: left;
  padding: 1em;
}

div#content dl dd {
  margin-left: 10em;
  margin-bottom: 1em;
  background-color: #E6E6E6;
  padding: 1em;
  font-size: small;
}

div#content dl dd pre {
  padding: 0;
  margin: 0;
}