<table>
  <caption>Scans (<%=h scans.size %>)</caption>
    
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  
  <tbody>
<% for scan in scans %>
    <tr>
      <td><%=h scan.name %></td>
      <td><%= link_to 'Show', scan %></td>
    </tr>
<% end %>
  </tbody>
</table>