.section
  .header
    %h1= 'Scans' << (@scans.page_count > 1 ? " (#{@scans.size})" : '')

  = render(:partial => 'scans/list', :locals => { :scans => @scans })

  .footer= link_to('Add Scan', new_scan_path)
