<div id="subheader">
<h2>Add Scan</h2>
</div>

<div id="content">
<% form_for(@scan) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Starts At</b><br />
    <%= f.datetime_select :starts_at %>
  </p>

  <p>
    <b>Location</b><br />
    <%= f.select :location_id, Location.find(:all).map { |location| [location.name, location.id]} %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
</div>
