<h1>New scan</h1>

<%= error_messages_for :scan %>

<% form_for(@scan) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', scans_path %>
