<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Service</th>
    </tr>
  </thead>
  
  <tbody>
<% for vulnerability in vulnerabilities %>
    <tr>
      <td><%=h vulnerability.name %></td>
      <td><%=h vulnerability.summary %></td>
      <td><%=h vulnerability.service %></td>
      <td><%= link_to 'Show', vulnerability %></td>
    </tr>
<% end %>
  </tbody>
</table>
