<table>
  <thead>
    <tr>
      <th>Classification</th>
      <th>Risk</th>
      <th>Family</th>
    </tr>
  </thead>
  
  <tbody>
<% for classification in classifications %>
    <tr>
      <td><%=h classification.classification %></td>
      <td><%=h classification.risk %></td>
      <td><%=h classification.family %></td>
    </tr>
<% end %>
  </tbody>
</table>
