= section_for(@classification, :header => [:classifications, 'Edit']) do
  - form_for(@classification) do |f|
    %dl
      %dt
        %div= 'Name'
      %dd= f.text_field(:name)

    .footer
      = f.submit('Update')
