= section_for(@classification, :header => [:classifications, 'Edit']) do
  - form_for(@classification) do |f|
    %dl.editing
      = form_field('Name', f.text_field(:name))

    .footer
      = f.submit('Update')
