= section_for(@classifications) do
  = render(:partial => 'classifications/list', :locals => { :classifications => @classifications })

  .footer= link_to('Add Classification', new_classification_path)
