.section
  .header
    %h1= 'Classifications' << (@classifications.page_count > 1 ? " (#{@classifications.size})" : '')
    
  = render(:partial => 'classifications/list', :locals => { :classifications => @classifications })

  .footer= link_to('Add Classification', new_classification_path)
