<table>
  <thead>
    <tr>
      <th>Severity</th>
      <th>Location</th>
      <th>Classification</th>
    </tr>
  </thead>
  
  <tbody>
<% for severity in severities %>
    <tr>
      <td><%=h severity.severity %></td>
      <td><%=h severity.location %></td>
      <td><%=h severity.classification %></td>
    </tr>
<% end %>
  </tbody>
</table>
